/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

.theme {
	height: 100vh;
	background-color: var(--bg-color);
	--gap-grid-big: 6px;
	--gap-grid-small: 2px;
	--active-border-size: 12px;
}

.theme.light {
	--bg-color: white;
	--grid-color: black;
}

.theme.dark {
	/* chrome dark */
	/* --bg-color: rgb(53, 54, 58); */
	/* firefox dark */
	/* --bg-color: rgb(43, 42, 51); */
	/* bootstrap dark */
	--bg-color: rgb(33, 37, 41);
	--grid-color: rgb(164, 157, 157);
}

.show {
	display: block;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.app {
	display: grid;
	place-items: center;
}

.grid {
	position: relative;
	display: grid;
	justify-items: stretch;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.grid::before {
	content: "";
	position: absolute;
	inset: 1px;
	background-color: var(--grid-color);
}

.grid.grid-big {
	gap: var(--gap-grid-big);
	width: min(100vh, 100%);
}

.grid.grid-small {
	gap: var(--gap-grid-small);
}

.active-indicator {
	border: var(--active-border-size) solid var(--bg-color);
}

.active-indicator.current-grid.disabled-grid {
	border-color: grey;
}

.o .active-indicator.current-grid {
	border-color: blue;
}

.x .active-indicator.current-grid {
	border-color: red;
}

.cell {
	aspect-ratio: 1/1;
	position: relative;
	background-color: var(--bg-color);
}

.current-grid .cell-small {
	cursor: pointer;
}

.current-grid.disabled-grid .cell-small {
	cursor: default;
}

.cell.owned::after {
	content: '';
	position: absolute;
	inset: 0;
}

.cell.cell-big.owned::after {
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}

.cell.owned.o::after {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' stroke='blue' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='6' /%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;
}

.cell.owned.x::after {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='red' viewBox='0 0 16 16'%3E%3Cpath d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z'/%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;
}

.menu {
	position: fixed;
	bottom: 10px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	gap: 10px;
}

[data-bs-theme="dark"] {
	color: rgb(222, 226, 230)
}